.topPlayer {
    width: 100%;
}

:root {
    --deck: #5130B0;
    --deckBack: #3D2484;
}

.gameCard {
    height: 9rem;
    width: fit-content;
    object-fit: contain;
    background-color: #ffffff00;
    border: none;
    transform: translate(0px, 0px);
    padding: 0;
    margin: 0.5rem 0.75rem;
    transition: all 0.1s ease-in-out;
    border-radius: 0.5rem;
}
.gameCard:focus {
    outline: solid 0.25rem white;
}

.gameCard.left {
    transform: rotate(343deg) translate(0px, 15px);
}
.gameCard.right {
    transform: rotate(17deg) translate(0px, 15px);
}
.gameCard.left:hover {
    transform: rotate(343deg) translate(0px, 0px)!important;
}
.gameCard.right:hover {
    transform: rotate(17deg) translate(0px, 0px)!important;
}
.gameCard:hover {
    transform: translate(0px, -10px)!important;
}

.gameCard img:hover {
    cursor: pointer;
}

.gameCard img {
    height: 100%;
}

.myCards {
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    width: 35rem;
    height: 20rem;
    border-radius: 2rem 2rem 0 0;
    background-color: var(--deck);
    box-shadow: 0rem 1rem 0 0.5rem var(--deckBack);
}

.deck {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playedDeck {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 9rem;
}

.topPlayer {
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0) rotate(180deg);
    box-shadow: 0rem -0.75rem  var(--deckBack);
}

.leftSidePlayer {
    transform: translate(-25%, 50%) rotate(90deg);
    margin-bottom: 20rem;
    box-shadow: 1rem 1rem var(--deckBack);
}
.rightSidePlayer {
    transform: translate(25%, 50%) rotate(270deg);
    margin-bottom: 20rem;
    box-shadow: -1rem 1rem var(--deckBack);
}

.gameDeck {
    width: 35rem;
    height: 20rem;
    border-radius: 2rem 2rem 0 0;
    background-color: var(--deck);
    padding-top: 0.5rem;
}

.sideContainer {
    height: fit-content;
    padding: 2rem 0;
}

.playedDeck .gameCard {
    outline: solid 0.4rem var(--deckBack);
}