.topPlayer {
    width: 100%;
}

:root {
    --deck: #5130B0;
    --deckBack: #3D2484;
}

.gameCard {
    height: 8rem;
    width: fit-content;
    object-fit: contain;
    background-color: #ffffff00;
    border: none;
    transform: translate(0px, 0px);
    padding: 0;
    margin: 0.25rem 0.75rem;
    transition: all 0.1s ease-in-out;
    border-radius: 0.5rem;
}

.gameCard:focus {
    outline: solid 0.25rem white;
}

.gameCard.left {
    transform: rotate(343deg) translate(0px, 15px);
}

.gameCard.right {
    transform: rotate(17deg) translate(0px, 15px);
}

.gameCard.left:hover {
    transform: rotate(343deg) translate(0px, 0px) !important;
}

.gameCard.right:hover {
    transform: rotate(17deg) translate(0px, 0px) !important;
}

.gameCard:hover {
    transform: translate(0px, -10px) !important;
}

.gameCard img:hover {
    cursor: pointer;
}

.gameCard img {
    height: 100%;
}

.myCards {
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 10%);
    width: 32rem;
    height: 18rem;
    border-radius: 2rem 2rem 0 0;
    background-color: var(--deck);
    box-shadow: 0rem 1rem 0 0.5rem var(--deckBack);
}

.deck {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playedDeck {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    margin-bottom: 0;
    height: 9rem;
}
.playerDeck {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    margin-bottom: 0;
    height: 9rem;

}

.topPlayer {
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -30%) rotate(180deg);
    box-shadow: 0rem -0.75rem var(--deckBack);
}

.leftSidePlayer {
    transform: translate(-25%, 50%) rotate(90deg);
    margin-bottom: 20rem;
    box-shadow: 1rem 1rem var(--deckBack);
}

.rightSidePlayer {
    transform: translate(25%, 50%) rotate(270deg);
    margin-bottom: 20rem;
    box-shadow: -1rem 1rem var(--deckBack);
}

.gameDeck {
    width: 32rem;
    height: 20rem;
    border-radius: 2rem 2rem 0 0;
    background-color: var(--deck);
    padding-top: 0.25rem;
}

.sideContainer {
    height: fit-content;
    top: 0;
    padding: 2rem 0;
}

.playedDeck .gameCard {
    outline: solid 0.3rem var(--deckBack);
}

.leftSidePlayer .avatarContainer {
    transform: rotate(-90deg) translate(-4rem, -10rem);
    left: 0;
}

.rightSidePlayer .avatarContainer {
    transform: rotate(90deg) translate(4rem, -10rem);
    flex-direction: row-reverse;
    right: 0;
}

.topPlayer .avatarContainer {
    transform: rotate(180deg) translate(0rem, -3.5rem);
    left: 29rem;
    flex-direction: column;
    align-items: center;
    height: 12rem;
}

.topPlayer .avatarContainer p {
    margin: 0;
    padding-top: 1rem !important;
    text-align: center;
}

.avatarContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    height: 8rem;
}

.avatarContainer img {
    object-fit: cover;
}

.avatarContainer p {
    color: white;
    width: 150px;
    font-size: larger;
    margin: 2rem 1rem 1rem 1rem;
    padding-top: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 0.25rem 0.5rem #0000008f;
    white-space: nowrap;
}